body {
    background-color: #f8f9fa;
}
.btn-success {
    background-color: green;
    border: none;
}
.btn-danger {
    background-color: red;
    border: none;
}
.btn-primary {
    background-color: blue;
    border: none;
}
